ul, li {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

.deleteButton {
  color: #fff;
  font-weight: bold;
  background-color: #a02828;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
  height: 20px;
  width: 40px;
  border: none;
}