/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  background: #2E3337;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ring {
  width: 240px;
  height: 240px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 4px 0 #53C7A4;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite; /* Safari */
}

.loader-text {
  width: 240px;
  height: 240px;
  color: #53C7A4;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;  
  font-weight: 700;
  text-shadow: 2px 2px 4px #000000;
  line-height: 240px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.timer {
  animation: fade 6s linear infinite;
  -webkit-animation: fade 6s linear infinite; /* Safari */
}

/* ========= Animação ========= */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* Safari */
@-webkit-keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}