body {
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: blueviolet;
}

.dados-pessoais {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#dados {
  margin-left: 20px;
  list-style-type: disc;
  margin-bottom: 20px;
}

table, tr, td, th {
  margin: 10px;
  padding: 5px;
  border: 1px solid gray;
  margin-bottom: 30px;
  margin-top: 30px;
}

th {
  background-color: #ddd;
}

a {
  margin: 10px;
}

.emphasis {
  font-size: bold;
  color: #945b26;
}

.emphasis2 {
  font-weight: bold;
  font-size: 1.2rem;
  color: #1c60a0;
}

.emphasis3 {
  font-weight: bold;
  color: #235f4b;
}
